.footer-wrapper{
  background: $dark-gray;
  color: rgba($white, .8);
  &::before{
    background: url("../images/footer-border.png") no-repeat center top;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6px;
  }
  .container{
    padding: 62px 0 86px;
  }
}

.bottom-logo{
  img{
    object-fit: contain;
    mix-blend-mode: luminosity;
    padding: 0 20px 0 0;
  }
  &>*{
    float: left;
  }
  p{
    border-left: solid 2px #979797;
    padding: 0 0 0 20px;
    font-size: 14px;
    @include tablet{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 767px){
    display: table;
    margin: 0 auto;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}

.social-media{
  a{
    background: rgba($white,.7);
    border-radius: 36px;
    color: $dark-gray;
    display: block;
    font-size: 20px;
    height: 36px;
    text-align: center;
    width: 36px;
    i{
      position: relative;
      top: 5px;
    }
  }
  .pull-right{
    &>*{
      float: left;
      @media screen and (max-width: 767px){
        float: none;
        text-align: center;
      }
    }
  }
  p{
    margin: 8px 30px 0 0;
    @media screen and (max-width: 767px){
      text-align: center;
      margin: 20px 0;
    }
  }
  @media screen and (max-width: 767px){
    display: table;
    margin: 0 auto;
    .pull-right{
      float: none !important;
    }
  }
}

.to-the-top{
  cursor: pointer;
  margin: 30px 0 0;
  text-align: center;
  &:before{
    border-top: solid 1px $white;
    border-right: solid 1px $white;
    content: "";
    display: block;
    height: 20px;
    margin: auto;
    position: relative;
    width: 20px;
    transform: rotate(-45deg);
  }
  p{
    font-size: 12;
    font-weight: bold;
    margin: 16px 0 0;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}
