.header-wrapper{
  background-image: linear-gradient(to bottom, #411c5d, #231342);
  height: 310px;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 995px){
    background: none;
    height: 748px;
  }
  &::after {
    background: url("../images/footer-border.png") no-repeat center top;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6px;
    @include desktop{
      display: none;
    }
  }
}
.header-image{
  background: $purple;
  height: 310px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: -1;
  @media screen and (min-width: 995px){
    height: 748px;
  }
  img{
    width: 100%;
  }
}
