.navbar-default{
  background: #411c5d;
  border: 0 none;
  height: auto;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
  @media screen and (min-width: 995px){
    background: none;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    top: 50px;
  }
  .navbar-nav{
    li{
      font-size: 20px;
      margin: 0 25px;
      @include desktop{
        margin: 0 27px;
      }
      a{
        color: rgba($white, .5);
        padding: 14px 0px;
        position: relative;
        @include desktop{
          padding: 14px 0px;
        }
        &:hover{
          color: $white;
          opacity: 1;
          &:after{
            bottom: 0;
            opacity: 1;
          }
        }
      }
      &:last-child{
        @include desktop{
          margin-right: 0;
        }
      }
      &.active{
        a{
          color: $white;
          &:after{
            bottom: 0;
            opacity: 1;
          }
        }
      }
    }
    &.menu-lang{
      li{
        margin: 0;
        a{
          margin: 0 20px;
        }
        &:last-child{
          a{
            @include desktop{
              margin-right: 0;
            }
          }
        }
      }
    }
    &.main-navigation{
      a{
        &:after{
          background: $white;
          bottom: -15px;
          content: "";
          display: block;
          height: 2px;
          opacity: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
  .navbar-toggle{
    float: none;
    position: absolute;
    left: 20px;
    top: 20px;
    background: none !important;
    border: 0 none;
    .icon-bar{
      background-color: $white;
      height: 3px;
    }
  }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
  color: $white;
  background: none;
}

#mobile-navbar{
  background: #1d0530;
  border: 0 none;
  font-size: 18px;
  margin: 0;
  padding: 30px 0;
  width: 190px;
  a{
    color: $white;
    padding: 10px 30px;
    &:hover{
      background-color: $menu-hover;
    }
  }
  .active{
    a{
      background-color: $menu-hover;
    }
  }
  .navbar-nav{
    margin: 0;
  }
  .menu-lang{
    margin: 33px 0 0;
  }
}

.navbar-brand{
  display: block;
  height: auto;
  float: none;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 995px){
    float: left;
  }
  img{
    height: auto;
    margin: 0 auto;
    width: 62px;
    @media screen and (min-width: 995px){
      width: initial;
    }
  }
}

ul.menu-lang{
  li{
    font-size: 16px !important;
    margin: 0 !important;
    &.indonesia{
      a{
        &::before{
          content: url('../images/flag-indonesia.png');
          display: inline-block;
          height: 12px;
          margin: 0 10px 0 0;
          width: 18px;
        }
      }
    }
    &.english{
      a{
        &::before{
          content: url('../images/flag-uk.png');
          display: inline-block;
          height: 12px;
          margin: 0 10px 0 0;
          width: 18px;
        }
      }
    }
  }
}
