<!-- Footer -->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row inner">
      <div class="col-xs-12 col-sm-6 bottom-logo">
        <img src="{{ "/assets/images/logo-copy@2x.png" | prepend: site.baseurl }}" alt="Wobe">
        <p><strong>PT Wobe Teknologi Utama</strong><br>
          Jl AM Sangaji No 15B<br>
          Jakarta Pusat 10130</p>
      </div>
      <div class="col-xs-12 col-sm-6 social-media">
        <div class="pull-right">
          <p class="no-link-style"><a href="{{ "/privacy-policy" | prepend: site.baseurl }}">Privacy Policy</a></p>
          <ul class="list-inline list-unstyled">
            <li><a href="{{ site.soc_facebook }}"><i class="fa fa-facebook"></i></a></li>
            <li><a href="{{ site.soc_twitter }}"><i class="fa fa-twitter"></i></a></li>
            <li><a href="{{ site.soc_youtube }}"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 to-the-top visible-xs">
        <p>To The Top</p>
      </div>
    </div>
  </div>
</footer>
<!-- //Footer -->
<style>
.menu-lang {
  visibility: hidden;
}
.no-link-style a {
  background: transparent;
  border-radius: 0;
  color: rgba(255,255,255,0.7);
  display: inline;
  font-size: 14px;
  text-align: left;
  width: auto;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://use.fontawesome.com/9cafd4fe2e.js"></script>
<script src="{{ "/assets/scripts/scripts.js" | prepend: site.baseurl }}"></script>
