<div id="mobile-navbar" class="mobile-menu navmenu navmenu-default navmenu-fixed-left offcanvas">
  <ul class="nav navbar-nav">
    {% for my_page in site.pages %}
      {% if my_page.title %}
        <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="nav navbar-nav menu-lang">
    <li class="indonesia"><a href="#">Indonesia</a></li>
    <li class="english"><a href="#">English</a></li>
  </ul>
</div><!--/.nav-collapse -->

<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-canvas="body" data-toggle="offcanvas" data-target=".mobile-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{ "/assets/images/logo@2x.png" | prepend: site.baseurl }}" alt="Wobe">
        <span class="sr-only">Wobe - Mobile &amp; finance tool to help you kickstart your own business.</span>
      </a>
    </div>
    <div id="navbar" class="pull-right hidden-xs">
      <div class="row">
        <ul class="nav navbar-nav navbar-right menu-lang">
          <li class="indonesia"><a href="#">ID</a></li>
          <li class="english"><a href="#">EN</a></li>
        </ul>
      </div>
      <div class="row">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ "/about" | prepend: site.baseurl }}">What is Wobe</a></li>
          <li><a href="{{ "/join" | prepend: site.baseurl }}">Join Wobe</a></li>
          <li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
          <li><a href="{{ "/berdaya" | prepend: site.baseurl }}">CSR</a></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
