.map-section{
  background: $white;
  padding: 0;
  .row{
    display: table;
    margin: 0;
    width:100%;
  }
  .column{
    padding: 0 15px;
    @media screen and (min-width: 995px) {
      display: table-cell;
      text-align: center;
      padding: 0;
    }
    img{
      display: none;
      @media screen and (min-width: 995px) {
        width: 100%;
      }
    }
    p{
      font-size: 16px;
      line-height: 1.5;
      margin: 20px 0 0;
    }
  }
}

.form-section{
  background: $white;
  padding: 100px 0;
  form{
    @media screen and (min-width: 995px) {
      background: url("../images/icon-mail.png") no-repeat left top;
      background-size: 66px;
      margin: 0 auto;
      padding-left: 88px;
      width: 692px;
    }
  }
  textarea{
    height: 180px;
  }
}

button.form-control{
  background: $main-link;
  border-radius:37px;
  color: $white;
  margin: 23px 0;
  text-transform: uppercase;
}
