<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="internal">

{% include header.html %}

<!-- Page Header -->
<header class="header-wrapper">
  <div class="container">
    <div class="hero-wrapper">
      <h1>{{ page.title }}</h1>
      <div class="hero-text visible-md visible-lg">
        <hr>
        <p><strong>{{ page.intro_title }}</strong></p>
        <p>{{ page.intro_text }}</p>
      </div>
    </div>
  </div>
</header>
<!-- //Page Header -->

<section class="page-section map-section">
  <div class="row">
    {% for location in page.locations %}
    {% assign field = location | split: ", " %}
    <div class="column">
      <img src="{{ field[4] }}" alt="{{ field[0] }}">
      <p><strong>{{ field[0] }}</strong><br>
        {{ field[1] }}<br>
        {{ field[2] }}<br>
        {{ field[3] }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="page-section form-section">
  <div class="container">
    <h2>{{ page.subtitle }}</h2>

    {{ content }}
  </div>
</section>

{% include footer.html %}

</body>
</html>
