<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="homepage">

{% include header.html %}

<!-- Page Header -->
<header class="header-wrapper">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-text hero-text-mobile visible-xs visible-sm">
        <p class="align-center">Ayo mulai bisnismu <br>bersama Wobe</p>
      </div>
      <div class="hero-image">
        <img src="{{ "/assets/images/phone-wobe.png" | prepend: site.baseurl }}" alt="">
      </div>
      <div class="hero-text visible-md visible-lg">
        <h1>Kami pilih Wobe</h1>
        <p>"Kami memulai bisnis dengan menjual pulsa pakai Wobe.<br>
          Ayo bergabung bersama kami!"</p>
        <a href="{{ site.play_store_url }}"><img src="{{ "/assets/images/play-store@2x.png" | prepend: site.baseurl }}" alt="Download our app in google play"></a>
      </div>
    </div>
  </div>
  <div class="header-image hidden-xs hidden-sm">
    <img src="assets/images/header-image.png" alt="Wobe" />
  </div>
</header>
<!-- //Page Header -->

<section class="page-section testimonials-section">
  <div class="container">
    <a class="visible-xs visible-sm small-google-play" href="{{ site.play_store_url }}"><img src="{{ "/assets/images/play-store@2x.png" | prepend: site.baseurl }}" alt="Download our app in google play"></a>
    <h2>Testimonials</h2>
    <div class="row testimonials-list">
      <div class="col-sm-12 col-md-4 testimonials-items">
        <div class="image-wrapper">
          <img src="{{ page.testimonial_one_image | prepend: site.baseurl }}" alt="{{ page.testimonial_one_name }}" />
        </div>
        <div class="description-wrapper">
          <p>{{ page.testimonial_one_text }} &mdash; <strong>{{ page.testimonial_one_name }}</strong></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 testimonials-items">
        <div class="image-wrapper">
          <img src="{{ page.testimonial_two_image | prepend: site.baseurl }}" alt="{{ page.testimonial_two_name }}" />
        </div>
        <div class="description-wrapper">
          <p>{{ page.testimonial_two_text }} &mdash; <strong>{{ page.testimonial_two_name }}</strong></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 testimonials-items">
        <div class="image-wrapper">
          <img src="{{ page.testimonial_three_image | prepend: site.baseurl }}" alt="{{ page.testimonial_three_name }}" />
        </div>
        <div class="description-wrapper">
          <p>{{ page.testimonial_three_text }} &mdash; <strong>{{ page.testimonial_three_name }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section services-section">
  <div class="container">
    <div class="row services-list">
      <div class="col-sm-12 col-md-4 services-items">
        <div class="inner">
          <img src="{{ "/assets/images/to-do@2x.png" | prepend: site.baseurl }}" alt="">
          <h3>Any Amount <br>Any phone</h3>
          <p>{{ page.untapped_potential }}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 services-items">
        <div class="inner">
          <img src="{{ "/assets/images/speaker-01@2x.png" | prepend: site.baseurl }}" alt="">
          <h3>Count <br>On Us</h3>
          <p>{{ page.employment_everywhere }}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 services-items">
        <div class="inner">
          <img src="{{ "/assets/images/alarm@2x.png" | prepend: site.baseurl }}" alt="">
          <h3>Anytime <br>Anywhere</h3>
          <p>{{ page.always_on }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section logo-section">
  <div class="container">
    <div class="row logo-list">
      <div class="logo-items">
        <img src="{{ "/assets/images/ooredoo.gif" | prepend: site.baseurl }}" alt="">
      </div>
      <div class="logo-items">
        <img src="{{ "/assets/images/indosat.gif" | prepend: site.baseurl }}" alt="">
      </div>
      <div class="logo-items">
        <img src="{{ "/assets/images/ideabox.gif" | prepend: site.baseurl }}" alt="">
      </div>
      <div class="logo-items">
        <img src="{{ "/assets/images/gsma.gif" | prepend: site.baseurl }}" alt="">
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
{% include intercom.html %}
</body>
</html>
