---
layout: internal
---

{{ content }}

<div class="job-list">
  <div class="job-items">
    <div class="job-icon">
      <img src="{{ "/assets/images/icon-pen.png" | prepend: site.baseurl }}" alt="">
    </div>
    <div class="job-description">
      <div class="wrapper">
        <h3>Copywriter</h3>
        <p>I was amazed at how easy InVision is to use—it's so intuitive and beautiful to look at, too.
          I've yet to see a better way of turning flat comps into working prototypes with such ease,
          grace, and beauty.</p>
      </div>
      <div class="job-cta">
        <button class="form-control">Apply</button>
      </div>
    </div>
  </div>
  <div class="job-items">
    <div class="job-icon">
      <img src="{{ "/assets/images/icon-scissors.png" | prepend: site.baseurl }}" alt="">
    </div>
    <div class="job-description">
      <div class="wrapper">
        <h3>Frontend</h3>
        <p>I was amazed at how easy InVision is to use—it's so intuitive and beautiful to look at, too.
          I've yet to see a better way of turning flat comps into working prototypes with such ease,
          grace, and beauty.</p>
      </div>
      <div class="job-cta">
        <button class="form-control">Apply</button>
      </div>
    </div>
  </div>
  <div class="job-items">
    <div class="job-icon">
      <img src="{{ "/assets/images/icon-dashboard.png" | prepend: site.baseurl }}" alt="">
    </div>
    <div class="job-description">
      <div class="wrapper">
        <h3>UI Designer</h3>
        <p>I was amazed at how easy InVision is to use—it's so intuitive and beautiful to look at, too.
          I've yet to see a better way of turning flat comps into working prototypes with such ease,
          grace, and beauty.</p>
      </div>
      <div class="job-cta">
        <button class="form-control">Apply</button>
      </div>
    </div>
  </div>
</div>
