.footer-wrapper{
  background: $dark-gray;
  color: rgba($white, .8);
  &::before{
    background: url("../images/footer-border.png") no-repeat center top;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6px;
  }
  .container{
    padding: 62px 0 86px;
  }
}

.bottom-logo{
  img{
    object-fit: contain;
    mix-blend-mode: luminosity;
    padding: 0 20px 0 0;
  }
  &>*{
    float: left;
  }
  p{
    border-left: solid 2px #979797;
    padding: 0 0 0 20px;
  }
}

.social-media{
  a{
    background: rgba($white,.7);
    border-radius: 36px;
    color: $dark-gray;
    display: block;
    font-size: 20px;
    height: 36px;
    text-align: center;
    width: 36px;
    i{
      position: relative;
      top: 5px;
    }
  }
  .pull-right{
    &>*{
      float: left;
    }
  }
  p{
    margin: 8px 30px 0 0;
  }
}