/* color variable */
$footer-background: #EAEAEA;
$dark-grey: #4A4A4A;
$deep-lilac: #886eb8;
$light-teal: #65dfbf;
$purple: #411C5D;
$teal: #2dafaa;
$white: #FFFFFF;
$main-link: #4990E2;

body{
  background: $footer-background;
  font: 300 16px 'Lato', Arial, sans-serif;
}
