.header-wrapper{
  background: #FFFFFF;
  padding: 20px 0 0;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 995px){
    background: none;
    height: auto;
    padding: initial;
  }
  .container{
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (min-width: 995px){
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.header-image{
  background: $white;
  width: 100%;
  @media screen and (min-width: 995px){
    position: relative;
    margin-top: 215px;
    z-index: -1;
  }
  img{
    width: 100%;
  }
}
